@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/dangki.css" />
<div class="text-center">
<h1 class="display-4">Tin Tức Bóng Đá 24H Của Bạn</h1>
</div>
<form action="" >
   <div class="container">
     <h1>Đăng nhập</h1>
     <hr>
    <label for="email"><b>Tên đăng nhập</b></label>
     <input type="text" placeholder="Tên đăng nhập" name="dangnhap" required>
    <label for="psw"><b>Mật Khẩu</b></label>
     <input type="password" placeholder="Nhập Mật Khẩu" name="psw" required>
       <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập
    <div class="clearfix">
        <a href="https://localhost:44330/Home/Index" class="my-1 btn btn-success btn-block">Đăng nhập</a>
       <a href="https://localhost:44330/Home/dangki" class="my-1 btn btn-success btn-block">Đăng Kí</a>
     </div>
   </div>
 </form>
           
            
      
   