@{
    ViewData["Title"] = "Các giải đấu quốc tế";
}
<h1>@ViewData["Title"]</h1>

<p>Euro<a href="https://www.google.com/search?q=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+euro+2022&rlz=1C1FKPE_viVN988VN988&oq=l%E1%BB%8Bc+thi+%C4%91%E1%BA%A5u+euro+&aqs=chrome.2.69i57j0i13l6j69i60.14784j1j4&sourceid=chrome&ie=UTF-8#sie=lg;/g/11fk09n_rz;2;/m/06b_0k;mt;fp;1;;"</a> Lịch thi đấu</p>
<p>Wc<a href="https://www.google.com/search?q=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+wc+2018&rlz=1C1FKPE_viVN988VN988&sxsrf=APq-WBuY22JAxgFs4olPFoxclhH93CQskg%3A1645434233111&ei=eVUTYsahBuKc0PEP5NyFaA&ved=0ahUKEwiGwtyXuJD2AhViDjQIHWRuAQ0Q4dUDCA4&uact=5&oq=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+wc+2018&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB46BwgAEEcQsAM6CggAELADEMkDEEM6BwgAELADEEM6BAgAEENKBAhBGABKBAhGGABQ3gVYvh5guCBoAnABeAGAAXGIAd0EkgEDMy4zmAEAoAEByAEKwAEB&sclient=gws-wiz#sie=lg;/m/06qjc4;2;/m/030q7;mt;fp;1;;"</a> Lịch thi đấu</p>
<p>Ngoại Hạng Anh<a href="https://www.google.com/search?q=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+ngo%E1%BA%A1i+h%E1%BA%A1ng+anh&rlz=1C1FKPE_viVN988VN988&oq=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+ngo%E1%BA%A1i&aqs=chrome.1.69i57j0i131i433i512l4j0i433i512j0i512j0i131i433i512l3.5784j1j9&sourceid=chrome&ie=UTF-8#sie=lg;/g/11p44qhs93;2;/m/02_tc;mt;fp;1;;"</a> Lịch thi đấu</p>
<p>La Liga<a href="https://www.google.com/search?q=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+la+liga&rlz=1C1FKPE_viVN988VN988&oq=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+lal&aqs=chrome.1.69i57j0i10i131i433i512j0i10i512j0i10i22i30l3.8156j1j9&sourceid=chrome&ie=UTF-8#sie=lg;/g/11mqlmppsd;2;/m/09gqx;mt;fp;1;;"</a> Lịch thi đấu</p>
<p>Ucl<a href="https://www.google.com/search?q=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+ucl&rlz=1C1FKPE_viVN988VN988&sxsrf=APq-WBv9Xq5hl6Cy54D6jEzSq_ddru0wtA%3A1645434329439&ei=2VUTYvCTGoye0PEPluu-uAQ&ved=0ahUKEwiw5NPFuJD2AhUMDzQIHZa1D0cQ4dUDCA4&uact=5&oq=l%E1%BB%8Bch+thi+%C4%91%E1%BA%A5u+ucl&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEMQCMgUIABCABDIKCAAQsQMQgwEQCjIECAAQCjIECAAQCjIECAAQCjIECAAQCjIECAAQCjIECAAQCjIECAAQCjoHCAAQRxCwAzoHCAAQsAMQQzoMCC4QyAMQsAMQQxgAOgsIABCABBCxAxCDAToICAAQsQMQgwE6BwgAEIAEEAo6BggAEBYQHjoICAAQFhAKEB5KBAhBGABKBAhGGABQ-QVY7QhgsAtoAXABeACAAW2IAcACkgEDMC4zmAEAoAEByAEMwAEB2gEECAAYCA&sclient=gws-wiz#sie=lg;/g/11j8x175ph;2;/m/0c1q0;mt;fp;1;;"</a> Lịch thi đấu</p>

